# Python virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

your_submission/train_data/
your_submission/test_data/
your_submission/model/*.pt


